
[Unit]
Description=Watchtower Container Update Service
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker stop watchower
ExecStartPre=-/usr/bin/docker rm watchtower
ExecStart=/usr/bin/docker run -d --name watchtower -v /var/run/docker.sock:/var/run/docker.sock v2tec/watchtower 

[Install]
WantedBy=multi-user.target
